  <%= form_with model: item, url: items_path(item), local:true do |f| %>
<div class="form-group row">
  <%= f.label :image_id, "Item画像", class: "col-sm-5 control-label" %>
  <%#= f.attachment_field :image, class: 'col-sm-7' %>
</div>
<div class="form-group row">
  <%= f.label :name, "Item名", class: "col-sm-5 control-label" %>
  <%= f.text_field :name, class: 'col-sm-7 form-control item_name', placeholder: "Item名" %>
</div>
<div class="form-group row">
  <%= f.label :descroption, "Item説明", class: "col-sm-5 control-label" %>
  <%= f.text_area :description, class: 'col-sm-7 form-control item_description', placeholder: "ここに説明文を記述します" %>
</div>
<div class="form-group row">
    <%= f.label :tag_name, "タグ", class: "col-sm-5 control-label" %>
    <%= f.text_area :tag_name, class: 'col-sm-7 form-control item_tag_name', placeholder: "スペースを入力することで複数のタグを付けることができます。
例：シャツ 赤 日用品" %>
  </div>
<div class="form-group row">
  <%= f.submit class: 'btn btn-success' %>
</div>
  <% end %>