<div class="container">
  <div class="col-xs-8">
    <h2 class="head-line title_h2 text-center"><i class="fas fa-thumbtack" style="padding-right: 20px;"></i>Item詳細</h2>
  </div>

    <div class="col-xs-7 order-details" style="padding: 40px;">
      <div class="row">
        <div class="col-md-5 text-center">
          <%= attachment_image_tag(@item, :image, :fill, 200, 200, fallback: "no_image.jpg") %>
        </div>

        <div class="col-md-5 ml-5 text-left">
          <div class="row my-2" style="padding-bottom: 20px;">
            <div class="col">Item名</div>
            <div class="col"><%= @item.name %></div>
          </div>
          <div class="row my-2" style="padding-bottom: 20px;">
            <div class="col">Item説明</div>
            <div class="col"><%= @item.description %></div>
          </div>
          <div class="row my-2" style="padding-bottom: 20px;">
            <div class="col">タグ</div>
            <div class="col">
              <% @item_tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
            </div>
          </div>
          <div class="row my-2">
            <div class="col">Drawer名</div>
            <div class="col">
              <%= link_to drawer_path(@item.drawer_id) do %>
                <%= @item.drawer.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col-xs-7 order-details">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-fill bd-highlight">
        <%= link_to '削除', drawer_item_path(@item.drawer_id, @item), data: { confirm: '本当に消しますか？' }, local: true, class: 'btn btn-danger btn-lg btn-block', method: :delete %>
      </div>
      <div class="p-2 flex-fill bd-highlight">
        <%= link_to '編集', edit_drawer_item_path(@item.drawer_id, @item), class: "btn btn-success btn-lg btn-block" %>
      </div>
      <div class="p-2 flex-fill bd-highlight">
        <%= link_to 'Drawerへ戻る', drawer_path(@item.drawer_id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>