<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <nav class="nav navbar-nav navbar-left" style="margin-top: 10px; margin-bottom: 10px;">
        <% if user_signed_in? %>
			<a class="navbar-brand" id="top-path" href="/drawers" style="margin-top: -10px;">
				<%= image_tag 'HIKIDASHI-logo.png' %>
			</a>
			  <% else %>
			<a class="navbar-brand" id="top-path" href="/" style="margin-top: -10px;">
				<%= image_tag 'HIKIDASHI-logo.png' %>
			</a>
			  <% end %>
			 </nav>
			<nav class="nav navbar-nav navbar-right" style="margin-top: 10px; margin-bottom: 10px;">
			  <ul class="nav navbar-nav navbar-right">
			    <% if user_signed_in? %>
			      <li class="nav-item">
              <%= render 'searches/searches_items' %>
            </li>
            <li class="nav-item">
              <%= link_to "HOME", drawers_path, class:"btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "タグ管理", tags_path, class:"btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path , method: :delete ,class:"btn btn-outline-dark" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "TOP", root_path , class:"btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "使い方", about_path , class:"btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path , class:"btn btn-outline-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path , class:"btn btn-outline-dark" %>
            </li>
          <% end %>
          </ul>
      </nav>
    </div>
  </nav>
</header>
